@import "./reset.css";

:root {
    --app-dark-bg: #27244a;
    --app-element: #cfabc4;
    --app-text-color: #f2f4f6;
    --app-text-color2: #dd4c56;
}

html {
    scroll-behavior: smooth;   
}
    
body {
    background-color: var(--app-dark-bg);
}
    
.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

ul {
    list-style: none;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* - - - - - - - - - */
/* Background        */
/* - - - - - - - - - */

body {
    background: var(--app-dark-bg) url('../media/web-bg-3.jpeg');
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
}

/* - - - - - - - - - */
/* Header            */
/* - - - - - - - - - */

.logo {
    width: 48px;
}

.navlist {
    justify-content: space-evenly;
}

header {
    border-bottom: 1px solid #96446d6c;
    font-size: 24px;
    font-weight: 400;
    color: var(--app-text-color);
    padding: 10px;
}

/* - - - - - - - - - */
/* Hero-card         */
/* - - - - - - - - - */



.card {
    margin-top: 56px;
    margin-bottom: 300px;
    width: 75%;
    min-height: 750px;
    background-color: rgba(205, 171, 216, 0.253);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding: 50px;
    box-shadow: 3px 3px 25px #1b192b;
}


.hero .card {
    text-align: center;
    color: var(--app-text-color);
    position: relative;
    padding: 280px;
}

.hero h2 {
    font-size: 58px;
    font-weight: 600;
    letter-spacing: 2px;
}

.hero img {
    width: 250px;
    opacity: 0.6;
    position: absolute;
    right: 25px;
    bottom: 25px;
    transform: rotate(225deg);
}

.fa-chevron-down {
    position: absolute;
    bottom: 35px;
    font-size: 40px;
    text-decoration: none;
    color: var(--app-text-color);
}

.fa-chevron-down:hover {
    color:var(--app-text-color2)
}